.skillBlock{
    padding: 40px;
    margin: 30px;
    height: 150px;
    width: 250px;

    border-radius: 50px;

    background-color: var(--second_light_color);

    color: var(--general_color);
    box-shadow: var(--shadow);

    cursor: pointer;
    transition: 0.3s;

}
.skillBlock:hover{
    transform: scale(1.03);
}
.icon{
    height:60px;
    width: 60px;
    border-radius: 20px;
    background-color: #DFBFAA;
}
.container{
    display: flex;
}
.title{
    margin: auto auto auto 10px;
}