.UniversalButtonSecond {
    border: 2px solid var(--general_color);
    background-color: transparent;
    color: var(--general_color);
    width: 440px;
    border-radius: 50px;
    padding: 8px 23px;
    cursor: pointer;

    transition: ease-in-out 0.3s;
}
.UniversalButtonSecond:hover {
    color: var(--second_light_color);
    background-color: var(--general_color);
}