.projectsContainer {
    display: flex;
    flex-direction: row;
    /*min-height: 70vh;*/
    margin: 0 0 200px 0;
}

.titleProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: var(--black);
    width: 118px;
    border-radius: 15px;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(4px 6px 0px var(--black));
    border: 2px solid var(--black);
    margin: 10px 35px 10px 0;
}

.rotate_title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.projectItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1554px) {
    .projectsContainer {
        flex-direction: column;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titleProjects {
        width: 100%;
        min-height: 0;
        height: 100px;
        margin: 0 0 30px 0;
    }

    .projectItems {
        justify-content: center;
        align-items: center;
    }

    .rotate_title {
        writing-mode: unset;
        transform: rotate(0deg);
    }
}
