.myWorks {
    color: var(--dark_color);
    /*border: 1px solid var(--dark_color);*/
    padding: 50px 80px 0 80px;
    min-height: 100vh;
    /*background-color: var(--background_color_2);*/
    background: var(--background_color_1) url("../../assets/back2.png");
}


.myWorks_container {
    margin: 0 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardsWorks_container {

    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


/* MEDIA */

@media (max-width: 1000px) {
    .myWorks {
        padding: 40px 0 0 0;
        border-top: 1px solid var(--dark_color);
        border-bottom: 1px solid var(--dark_color);
        /*width: 100%;*/
        height: auto;
    }
    .cardsWorks_container {
    }
}
