.disabled {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    background-color: white;
    height: 50px;
    min-width: 165px;
    border-radius: var(--round);
    font-size: 20px;
    font-weight: bold;
    border: 2px solid gray;
    filter: drop-shadow(3px 4px 0px gray);
    transition: 0.15s;
    cursor: pointer;
}

/* === OTHER === */
.button_icon {
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
}

.footerReserved {
    font-size: 25px;
}