.customButton {
    /*border: 2px solid var(--black);*/
    background-color: white;
    height: 50px;
    min-width: 165px;
    border-radius: var(--round);
    font-size: 20px;

    font-weight: bold;
    filter: drop-shadow(3px 4px 0px var(--black));
    transition: 0.15s ;
    cursor: pointer;
}

.customButton:hover {
    /*position: absolute;*/
    /*background-color: var(--black);*/
    /*color: white;*/
    transform: scaleX(1.05);
    translate: 5px;
    filter: drop-shadow(7px 8px 0px var(--black));
}