.offerBlock {
    height: 30vh;
    color: var(--second_light_color);
}
.offerBlockContainer {
    /*border: 3px solid black;*/

    height: 100%;
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}