.card {
    border: 1px solid var(--background_color_1);
    padding: 20px;
    height: 200px;
    width: 50%;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark_color);
    color: var(--background_color_1);
    border-radius: var(--borderRadiusCustom);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.card:hover {
    transform: scale(1.03);
}
.card:hover .icon{
    transform: rotate(360deg);
}


.card_container {
    display: flex;
    align-items: center;
}

.title_container {
    /*border: 1px solid blue;*/
    width: 100%;

    display: flex;
    justify-content: center;
}
.icon {
    height: auto;
    width: 80px;
    transition: ease-in-out 1s;
}
.text_container {
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
}

/* MEDIA */
@media (max-width: 1000px) {
    .card {
        width: 80%;
        height: 200px;
    }
    .icon {
        width: 80px;
    }
    .text_container {
        font-size: 1em;
    }
}
