.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 80px 0 80px;
    height: 90vh;
    color: var(--dark_color);
    background-image: url("../../assets/back.png");
}


.main_container {
    padding: 60px 0 0 0 ;

    display: flex;
    align-items: center;
    justify-content: space-between;


}
.main_title_container {
    display: flex;
    flex-direction: column;
}

.main_title {
    margin: 0;
    padding: 0;
    font-size: 60px;
}
.main_title_black_box {
    display: flex;
    align-items: center;
    font-size: 60px;
    margin: 10px 0 50px 0;
}
.black_box {
    padding: 4px 23px;
    margin: 0 10px 0 0 ;
    color: var(--background_color_1);
    background-color: var(--dark_color);
}


.btn_main {
    cursor: pointer;
    height: 60px;
    width: 200px;
    border: 1px solid var(--dark_color);
    background-color: var(--glass_2);
    transition: 0.3s;
    backdrop-filter: blur(3px );
}
.btn_main:hover {
    background-color: var(--dark_color);
    color: var(--background_color_1);
}
.avatar {
    height: 700px;
}