/* STYLES */

.main {
    height: 90vh;
}

.mainContainer {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--pink);
    border-radius: 40px;
}

.boxLeft {
    width: 500px;
}
.boxRight {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

.frontendBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.frontendTitle {
    margin: 17px 0 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    font-weight: bold;
    font-size: 40px;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 287px;
    border: 2px solid var(--black);
    filter: drop-shadow(3px 4px 0px var(--black));
    transition: 0.15s;
    cursor: pointer;
}

.frontendTitle:hover {
    transform: scaleX(1.02) translateX(-5px) translateY(-5px);
    translate: 5px;
    filter: drop-shadow(6px 7px 0px var(--black));
}

.developerText {

    padding: 0 10px;
    font-weight: bold;
    font-size: 30px;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height:10vh;
    width: 100%;
}
.arrowDown {
    animation: 1.5s ease-in infinite reverse;
    animation-name: arrowAnim;
}

@keyframes arrowAnim {
    0%   {margin-top: -10px }
    50%  {margin-top: 10px }
    100% {margin-top: -10px }
}

.avatar {
    height: 500px;
    border: 2px solid var(--red);
    border-radius: 1000px;
    transition: 0.15s;
    filter: drop-shadow(10px 11px 0px var(--red));
}


/* MEDIA QUIRES */
/*
xs: 0,
sm: 576px,
md: 768px,
lg: 992px
xl: 1200px
xxl: 1400px
*/


@media (max-width: 1670px) {
    .boxRight {
        width: 300px;
    }
    .boxLeft {
        width: 700px;
    }
    .avatar {
        height: 300px;
    }
    .mainContainer {
        justify-content: space-between;
    }
}

@media (max-width: 1554px) {
    .mainContainer {
        justify-content: center;
        flex-direction: column;
        height: 75vh;
        padding: 20px;
    }
    .boxRight {
        justify-content: center;
        width: 100%;
    }
    .boxLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 0 50px 0;
    }
    .avatar {
        align-items: center;
    }
    .boxLeft button {
        width: 100px;
    }
    .title {
        font-size: 80px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .frontendBox {
        justify-content: center;
    }
}

@media (max-width: 1300px) {
    .title {
        font-size: 80px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .frontendBox {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0 0 50px 0;
    }
    .frontendTitle{
        font-size: 70px;
        width: 500px;
        height: 100px;
    }
    .boxLeft button {
        height: 100px;
        width: 400px;
        font-size: 50px;
        border-radius: 10px;
    }
    .developerText{
        font-size: 40px;
    }
    .scroll {
        font-size: 70px;
    }
    .arrowDown {
        height: 80px;
    }
}