.skillsContainer {
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    margin: 0 0 100px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: white;
    min-height: 600px;
    width: 118px;
    border-radius: 15px;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(4px 6px 0px var(--black));
    border: 2px solid var(--black);
    margin: 10px 35px 10px 0;
}

.rotate_title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.skillsItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*@media (max-width: 1554px) {*/
/*    .skillsContainer {*/
/*        flex-direction: column;*/

/*    }*/
/*    .title {*/
/*        width: 100%;*/
/*        min-height: 0;*/
/*        height: 100px;*/
/*    }*/
/*    .rotate_title {*/
/*        writing-mode: unset;*/
/*        transform: rotate(0deg);*/
/*    }*/
/*}*/

@media (max-width: 1000px) {
    .skillsContainer {
        flex-direction: column;
        justify-content: space-between;
    }

    .skillsItems {
        justify-content: space-evenly;
    }

    .title {
        margin: 0 0 20px 0;
        width: 100%;
        min-height: 0;
        height: 120px;
    }

    .rotate_title {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        min-height: 0;
        height: 50px;
    }
}
