.cardWork {

    border: 1px solid var(--dark_color);
    padding: 40px;
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--glass_2);
    transition: 0.2s;
    backdrop-filter: blur(9px);
    cursor: pointer;
    margin: 0 0 40px 0;
}

.cardWork:hover {
    transform: scale(1.03);
}

.cardWork:hover .icon {
    transform: rotate(360deg);
}

.cardWork_container {
    display: flex;
    align-items: center;
}

.title_container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Sofia Pro, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
}

.icon {
    height: auto;
    width: 120px;
    transition: ease-in-out 1s;
}

.text_container {

    display: flex;
    align-items: center;
    color: var(--dark_color);
    font-family: Sofia Pro, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.btn_workCard {
    cursor: pointer;
    height: 60px;
    width: 100%;
    border: 1px solid var(--dark_color);
    background-color: var(--background_color_2);
    transition: 0.3s;
}

.btn_workCard:hover {
    background-color: var(--dark_color);
    color: var(--background_color_1);
}
