.card {
    padding: 20px 27px;
    height: auto;
    width: 280px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background_color_1);
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: var(--dark_color);
    border-radius: var(--borderRadiusCustom);
}

.card:hover {
    transform: scale(1.03);
}

.card_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.card:hover .icon {
    transform: rotate(360deg);
}

.title_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    height: auto;
    width: 70px;
    transition: ease-in-out 1s;
}

.text_container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
}

/* MEDIA */
@media (max-width: 1000px) {
    .card {
        width: 80%;
        height: 100px;
    }

    .icon {
        width: 80px;
    }

    .text_container {
        font-size: 1em;
    }
}
