.header {
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/

    background-color: var(--background_color_2);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;

    font-size: 20px;

    border-bottom: 1px solid var(--dark_color);
}

.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo_header_block{
    display: flex;
    align-items: center;

}

.logo {
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--dark_color);
    height: 60px;
    width: 60px;
    margin: 10px;
    transition: ease-in-out 0.5s;
}
.logo:hover{
    transform: rotate(-360deg);
}

.nav a{
    text-decoration: none;
    color: var(--dark_color);
    margin: 0 20px;
}

.send_me_button_nav {
    cursor: pointer;
    height: 45px;
    width: 145px;
    border: 1px solid var(--dark_color);
    background-color: var(--background_color_2);
    transition: 0.3s;
}
.send_me_button_nav:hover {
    background-color: var(--dark_color);
    color: var(--background_color_1);
}