.remoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background-color: var(--pink);
    border-radius: 15px;
    margin: 0 0 100px 0;
}
.title {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px 0
}