.footer {
    padding: 0 80px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    min-height: 50vh;
    background-color: var(--dark_color);
    color: var(--background_color_1);
    text-align: center;
}

.footer_container {
    color: var(--background_color_1);
    position: absolute;
}
.footer_container p {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;

}
.icons_box {

}
.icons_box img {

    cursor: pointer;
    margin: 0 10px;
    width: 70px;
}


/* MEDIA */
@media (max-width: 1000px) {
    .footer {
        height: 50vh;
        padding: 0 80px;
    }
    .footer_container {
        font-size: 1rem;
    }
    .footer_container p {
        display: block;
        font-size: 1em;
    }
    .icons_box img {
        width: 50px;
    }
}
