.footer {
    background-color: #0000AA;
    bottom: 0;
    width: 100%;
    height: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.footerName {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000000;
}

.boxButtons {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    flex-direction: row;
    width: 410px;
    height: 150px;
}

@media (max-width: 1300px) {
    .footer {
        position: relative;
        border-radius: 0;
        height: 100vh;
    }

    .footerName {
        font-size: 80px;
    }

    .boxButtons button img {
        height: 50px;
        width: 50px;
        margin: 0 30px 0 30px;
    }

    .boxButtons {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 90%;
    }
    .footerReserved {
        position: absolute;
        bottom: 80px;
        font-size: 40px;
    }
}