/* ROOT CONSTANTS */
:root {
    --background_color_1: #CEC5C0;
    --background_color_2: #C3BAB1;
    --dark_color: #1C2121;
    --glass: rgba(195, 186, 177, 0.2);
    --glass_2: rgba(195, 186, 177, 0.2);

    --borderRadiusCustom: 40px;
}

body {
    background-color: var(--background_color_1);

}

.App {

}


/* MEDIA */

@media (max-width: 1000px) {
    body {
        /*padding: 0 20px 0 20px;*/
    }
}
