@font-face {
    font-family: 'Sofia Pro';
    src: url("./fonts/Sofia_Pro_Regular.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url("./fonts/Sofia_Pro_Bold.otf") format("otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url("./fonts/Sofia_Pro_Light.otf") format("otf");
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Sofia Pro", sans-serif;
    font-weight: 500;
}
