.Nav {
    /*border: 1px solid crimson;*/
    width: 400px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Nav a {
    position: relative;
    text-decoration: none;
    color: var(--second_light_color);
}

.Nav a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--second_light_color);
}

.Nav a:hover:before {
    height: 2px;
}

.Nav a::before {
    transition: height 0.1s;
}


